<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <title>Panel de Administración - Modificar Producto</title>
</head>

<body class="panelbody">
    
    <aside class="panelaside">
        <div class="header header-center panellogo">PIERCING</div>
        <div class="aside2">
            <ul class="categorias-lista">
                <li id="backtomainpanel">← Volver al Panel</li>
            </ul>
        </div>
        <div class="aside3">
            <a id="logout-btn">Cerrar Sesión</a>
        </div>
    </aside>

    <div id="mensaje" class="mensaje-oculto"></div>

    <main class="panelmain">
        <header class="panelheader">
            <p id="userdinamico"></p>
            <img src="/img/usuario.png" alt="User">
        </header>

        <section class="panelsection">
            <h2 class="paneltitle">Tareas</h2>
            <form id="form-modificarproducto" class="checkout-form">
                <h3 class="createformtitle">Actualizar producto</h3>

                <div class="createformcontainer">
                    <div class="form-grid">
                        <h4>Ingrese el ID del producto</h4>
                        <input type="text"  id="idproducto" placeholder="Número de ID del producto" required>
                    </div>
                    <div class="form-grid">
                        <h4>Elija un campo a cambiar</h4>
                        <select id="criteriomodificar" name="criteriomodificar" required>
                            <option value="">Selecciona un campo</option>
                            <option value="nombre">Nombre</option>
                            <option value="precio">Precio</option>
                            <option value="categoria">Categoría</option>
                            <option value="imagen">Imagen</option>
                            <option value="descripcion">Descripción</option>
                            <option value="stock">Stock</option>
                            <option value="talle">Talle</option>
                            <option value="descuento">Descuento</option>
                        </select>
                    </div>
                </div>

                <div class="newinfocontainer">
                    <h4 class="newinfotitle">Ingrese la nueva información</h4>
                    <input type="text" id="nuevainfo" placeholder="Información A Establecer" required>
                </div>
                

                <button type="submit" id="modificarproductobtn" class="btn-checkout">Modificar Producto</button>
            </form>

            <button class="btn-checkout" id="backtomainpanel">← Volver al Panel Principal</button>
        </section>
         
    </main>

    <script src="../js/panelAdmin.js"></script>
    <script type="module" src="../js/modificarProducto.js"></script>

</body>
</html>